

.pgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 770px) {
  .pgrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 770px) and (max-width: 1200px) {
  .pgrid {
    grid-template-columns: repeat(2, 1fr);
  }
}