
.pegrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 500px) {
  .pegrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .pegrid {
    grid-template-columns: repeat(3, 1fr);
  }
}