.notfound {
  align-items: center;
  text-align: center;
}

img {
  width: 100%;
  max-width: 300px;
}

.btn.center-btn {
  margin:auto;
  display:table;
}

.btn {
    font-family: "CircularStd-Bold", sans-serif;
    font-weight: normal;
    background-color: transparent;
    border: solid 4px #000000;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 12px 28px;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='17' fill='%23000000'%3E %3Cpath fill-rule='evenodd' d='M24.736 10.246v6.351l16.4-8.347-16.4-8.099v6.085H.541v4.01h24.195z'/%3E %3C/svg%3E");
    background-position: right 32px center;
    background-repeat: no-repeat;
    background-size: 31px 12px;
    padding-right: 80px;
}

.btn:hover, .btn:focus {
    background-color: #000;
    border-color: #000;
    color: #ffffff;
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateY(-4px);
    box-shadow: 4px 4px 0px rgba(3,4,3,.2);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='17' fill='%23ffffff'%3E %3Cpath fill-rule='evenodd' d='M24.736 10.246v6.351l16.4-8.347-16.4-8.099v6.085H.541v4.01h24.195z'/%3E %3C/svg%3E");
}

.btn:active {
  transform: translateY(0px);
  box-shadow: 0px 0px 0px rgba(3,4,3,.15);
}


.btn:hover::after {
    opacity: 1;
}


.btn-buy {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn-buy:hover,
.btn-buy:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

a:link {
  text-decoration: none;
  color:#17191b;
}
a {
  text-decoration: none;
  color:#6c757d;
}

a:hover {
  text-decoration: none;
  color:#17191b;
}

a:active {
  text-decoration: none;
  color:#17191b;
}

.btn-buy:active {
  opacity: .5;
}